[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-bdd = "*"
requests = "*"
pytest-bdd-html = "*"

[dev-packages]

[requires]
python_version = "3.11"
